@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 13, 38;
    --background-end-rgb: 13, 13, 38;
  }
}

html, body {
  overscroll-behavior: none; /* Stops iOS rubber-banding */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d0d26; /* Matches shader void color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}


.right-side-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.right-side-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.center-lines {
  text-align: center;
  padding-top: 50px; /* Adjust the padding to position the lines vertically */
  padding-bottom: 90px; /* Adjust the padding to position the lines vertically */
  position: relative;
  height: 80px; /* Adjust this value as needed */
}

.center-lines:before,
.center-lines:after {
  content: '';
  position: absolute;
  left: 25%; /* Center the line horizontally */
  right: 25%; /* Center the line horizontally */
  height: 3px; /* Height of the line */
  background: #ffffff; /* Color of the lines */
}

.center-lines:before {
  top: 30px; /* Position the first line */
}

.center-lines:after {
  top: 20px; /* Position the second line, adjust the value to set the space between the lines */
}
